UAT_IMAGE_TAG=bootstrap
UAT_POSTGRES_DB=huicui_uat
UAT_POSTGRES_USER=huicui_uat
UAT_POSTGRES_PASSWORD=replace-with-openssl-rand-hex-24
UAT_JWT_SECRET=replace-with-openssl-rand-hex-48
UAT_CRYPTO_KEY=replace-with-openssl-rand-hex-32
UAT_DEV_PASSWORD=replace-with-openssl-rand-base64-24
UAT_WEB_BIND=127.0.0.1
UAT_PUBLIC_BASE=http://127.0.0.1:6090
UAT_ARTIFACT_DIR=./uat-artifacts
